<p class="UserRegistration-Title">Sign in!</p>


<section class="UserRegistration-section">

	<%= form_with url: sessions_path  do |form| %>
		

			<div class="Form-Section">
				<p class="UserRegistration-fieldtitle">Email</p>
				<%= form.email_field :email , class: "Form-input" %>
			</div>

			<div class="Form-Section">
				<p class="UserRegistration-fieldtitle">Password</p>
				<%= form.password_field :password , class: "Form-input" %>
			</div>

			<div class="Form-Section">
				<%= form.submit "Sign-in!" , class: "Form-SubmitButton" %>
			</div>
		

	<% end %>

</section>