<h1> List of Todos</h1>
<head>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
</head>
<body>
	<h1 class= TodoPage-title>My Todo-list</h1>
	<%= form_with(url: "/todos", method: "post", class: "Todobars-section") do %>
	
		<input class="Todo-text" type="text" placeholder="What's next?" name="todo_text">
		<input class="Todo-date" type="date" name="due_date">
		<input class="Todo-button" type="submit" value="Add">

	<% end %>
	
	
	<%= render partial: "todo-section", locals: {
		section_title: "OverDue",
		todos: @todos.overdue,
		show_due_date: true
	}
	%>

	<%= render partial: "todo-section", locals: {
		section_title: "DueToday",
		todos: @todos.due_today,
		show_due_date: false
	}
	%>

	<%= render partial: "todo-section", locals: {
		section_title: "DueLater",
		todos: @todos.due_later,
		show_due_date: true
	}
	%>

</body>