.Home-title{

	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 20px;

}

.Home-sessions{

	margin-bottom: 10px;
	font-size: 16px;
}


.UserHeader{

	font-size: 14px;
	margin-left: 10px;

}

.Button{
	margin-left: 270px;
	margin-top: 10px;
}


